.healthList{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
margin: 0 auto;
padding: 0;
    display: flex;
    justify-content: center;
    width: 900px;

    .desc {
        margin: 15px 0 15px 0;
          }




.healthTable {
margin-top: 20px;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    z-index: 1;
// border-collapse: separate !important;
// border-spacing: 0;
text-align: center;
width: 100%;
height: 100%;
box-shadow: 0 0 15px 5px rgb(233, 233, 233);
padding: 10px;

border-style: hidden;

.healthToptr {
    background-color: #6392ff;
    color: white;
    height: 60px;

    th {

        font-weight: 500;

    }
}

.healthTr {
    border-bottom: 1px solid rgb(228, 228, 228);
    border-radius: 13px;
    color: rgb(119, 119, 119);
    cursor: pointer;

    &:hover {
        color: black;
        // font-weight: bold;
    }

    height: 50px;

    .mindTd {
        width: 400px;
        overflow: hidden;
line-height: 50px;
        display: inline-block;
        width: 350px;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;


    }

    .hidTd {
        min-width: 100px;

    }

    .infoBtn {
        background-color: rgb(227, 227, 227);
        border: none;
        border-radius: 15px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
}
}
}